body{
font-family: "Roboto";
}
.table-responsive , h1 ,p {
    width: 100%;
    max-width: 800px; 
    margin: auto; 
}
.table {
    width: 100%; 
    border-collapse: collapse; 
    cursor: pointer;
    
}

.table th, .table td  {
    text-align: center;
    padding: 10px; 
    border:1px solid #ddd; 
    vertical-align: middle; 
    transition: all 0.3s ease; 
}

.table th {
    background-color: #f2f2f2; 
}
h1, p  {
    text-align: center;
    margin-bottom: 15px;
}
table tr:nth-child(even){
    background-color: #f2f2f2;
}
table tr:hover{
    background-color: #ddd;
}
#buttons {
    display: flex; 
    justify-content: center; 
    margin-top: 20px; 
    padding:15px
}
button {
    margin: 2px;
    padding: 8px 15px;
    border:none;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
    background-color: #0d6efd;
    color: white;   
}
button:hover{
    background-color: #0a58ca;
}
p{
    font-size: 19px;
}